<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cloud.auth.mapper.AuthOperationMapper">
    <resultMap id="BaseResultMap" type="com.cloud.auth.entity.AuthOperation">
        <id column="id" jdbcType="BIGINT" property="id"/>
        <result column="optimistic" jdbcType="BIGINT" property="optimistic"/>
        <result column="name" jdbcType="VARCHAR" property="name"/>
        <result column="status" jdbcType="VARCHAR" property="status"/>
        <result column="update_time" jdbcType="TIMESTAMP" property="updateTime"/>
        <result column="create_time" jdbcType="TIMESTAMP" property="createTime"/>
    </resultMap>

    <sql id="Base_Column_List">
        id, optimistic, name, pid, status,  update_time, create_time
    </sql>

    <select id="findById" parameterType="java.lang.Long" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from web.auth_operation
        where id = #{id,jdbcType=BIGINT}
    </select>

    <delete id="deleteById" parameterType="java.lang.Long">
        delete
        from web.auth_operation
        where id = #{id,jdbcType=BIGINT}
    </delete>

    <insert id="insert" keyColumn="ID" keyProperty="id" parameterType="com.cloud.auth.entity.AuthOperation"
            useGeneratedKeys="true">
        insert into web.auth_operation (name, status)
        values (#{name,jdbcType=VARCHAR}, #{status,jdbcType=VARCHAR})
    </insert>

    <update id="updateById" parameterType="com.cloud.auth.entity.AuthOperation">
        update web.auth_operation
        <set>
            update_time = now(),
            optimistic = optimistic+1,
            <if test="name != null">
                name = #{name,jdbcType=VARCHAR},
            </if>
            <if test="status != null">
                status = #{status,jdbcType=VARCHAR},
            </if>
        </set>
        where ID = #{id,jdbcType=BIGINT}
    </update>

    <select id="findByPageAll" parameterType="map" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from web.auth_operation
        <where>
            <if test=" params.id != null and  params.id != ''">
                id = cast(#{params.id,jdbcType=BIGINT}as integer )
            </if>
            <if test=" params.name != null and  params.name != ''">
                name = #{params.name,jdbcType=VARCHAR}
            </if>
            <if test=" params.status != null and  params.status != ''">
                status = #{params.status,jdbcType=VARCHAR}
            </if>
        </where>
    </select>
</mapper>