<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cloud.auth.mapper.AuthRoleGroupMapper">
    <resultMap id="BaseResultMap" type="com.cloud.auth.entity.AuthRoleGroup">
        <id column="id" jdbcType="BIGINT" property="id"/>
        <result column="role_id" jdbcType="BIGINT" property="roleId"/>
        <result column="group_id" jdbcType="BIGINT" property="groupId"/>
        <result column="create_time" jdbcType="TIMESTAMP" property="createTime"/>
    </resultMap>

    <sql id="Base_Column_List">
        id, role_id, group_id, create_time
    </sql>

    <select id="findById" parameterType="java.lang.Long" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from web.auth_role_group
        where id = #{id,jdbcType=BIGINT}
    </select>

    <delete id="deleteById" parameterType="java.lang.Long">
        delete
        from web.auth_role_group
        where id = #{id,jdbcType=BIGINT}
    </delete>

    <insert id="insert" keyColumn="ID" keyProperty="id" parameterType="com.cloud.auth.entity.AuthRoleGroup"
            useGeneratedKeys="true">
        insert into web.auth_role_group (role_id, group_id)
        values (#{roleId,jdbcType=BIGINT}, #{groupId,jdbcType=BIGINT})
    </insert>

    <update id="updateById" parameterType="com.cloud.auth.entity.AuthRoleGroup">
        update web.auth_role_group
        <set>
            <if test="role_id != null">
                role_id = #{roleId,jdbcType=BIGINT},
            </if>
            <if test="group_id != null">
                group_id = #{groupId,jdbcType=BIGINT},
            </if>
        </set>
        where ID = #{id,jdbcType=BIGINT}
    </update>

    <select id="findByPageAll" parameterType="map" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from web.auth_role_group
        <where>
            <if test=" params.id != null and  params.id != ''">
                id = #{params.id,jdbcType=BIGINT}
            </if>
            <if test=" params.roleId != null and  params.roleId != ''">
                role_id = #{params.roleId,jdbcType=VARCHAR}
            </if>
            <if test=" params.groupId != null and  params.groupId != ''">
                group_id = #{params.groupId,jdbcType=VARCHAR}
            </if>
        </where>
    </select>
</mapper>