<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cloud.auth.mapper.AuthRoleAuthorityMapper">
    <resultMap id="BaseResultMap" type="com.cloud.auth.entity.AuthRoleAuthority">
        <id column="id" jdbcType="BIGINT" property="id"/>
        <result column="role_id" jdbcType="BIGINT" property="roleId"/>
        <result column="authority_id" jdbcType="BIGINT" property="authorityId"/>
        <result column="create_time" jdbcType="TIMESTAMP" property="createTime"/>
    </resultMap>

    <sql id="Base_Column_List">
        id, role_id,  authority_id,create_time
    </sql>

    <select id="findById" parameterType="java.lang.Long" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from web.auth_role_authority
        where id = #{id,jdbcType=BIGINT}
    </select>

    <delete id="deleteById" parameterType="java.lang.Long">
        delete
        from web.auth_role_authority
        where id = #{id,jdbcType=BIGINT}
    </delete>

    <insert id="insert" keyColumn="ID" keyProperty="id" parameterType="com.cloud.auth.entity.AuthMenuAuthority"
            useGeneratedKeys="true">
        insert into web.auth_role_authority (authority_id, role_id)
        values (#{authorityId,jdbcType=BIGINT}, #{roleId,jdbcType=BIGINT})
    </insert>

    <update id="updateById" parameterType="com.cloud.auth.entity.AuthMenuAuthority">
        update web.auth_role_authority
        <set>
            <if test="authority_id != null">
                authority_id = #{authorityId,jdbcType=BIGINT},
            </if>
            <if test="role_id != null">
                role_id = #{roleId,jdbcType=BIGINT},
            </if>
        </set>
        where ID = #{id,jdbcType=BIGINT}
    </update>

    <select id="findByPageAll" parameterType="map" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from web.auth_role_authority
        <where>
            <if test=" params.id != null and  params.id != ''">
                id = cast(#{params.id,jdbcType=BIGINT}as integer )
            </if>
            <if test=" params.authorityId != null and  params.authorityId != ''">
                authority_id = cast(#{params.authorityId,jdbcType=BIGINT}as integer )
            </if>
            <if test=" params.roleId != null and  params.roleId != ''">
                role_id = cast(#{params.roleId,jdbcType=BIGINT}as integer )
            </if>
        </where>
    </select>
</mapper>